* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: 0;
}
body{
  font-family: 'Raleway', sans-serif;
}
.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
}
.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ecf0f1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.btn-danger{
    border-radius: 25px;
  width: 35%;
}
#wrapper {
    position: relative;
    height: 40px;
    top: 45%;
    text-align: center;
}
a.#facebooklink {
    width: 100%;
}
span.glyphicon.glyphicon-menu-left {
    margin-left: 1%;
    font-size: 2em;
}
.container-fluid {
    position: relative;
    height: 667px;
    width: 375px;
    overflow: hidden;
    margin-top: 40px;
    top: 0;
}
#SplashLogo {
    position: absolute;
    top: 37%;
    left: 13%;
    display: block;
    width: 75%;
    opacity: 1;
    -webkit-animation: fadeOut 1.5s;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: fadeOut 1.5s;
    /* IE 10+, Fx 29+ */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
#SplashKV {
    position: absolute;
    top: 70%;
    left: 45%;
    display: block;
    width: 15%;
    opacity: 1;
    -webkit-animation: fadeOut 1.5s;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: fadeOut 1.5s;
    /* IE 10+, Fx 29+ */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
div#facebookbutton {
    display: inline-block;
    pointer-events: none;
    margin: 0 auto;
    -webkit-animation: fadeIn 1.5s;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: fadeIn 1.5s;
    /* IE 10+, Fx 29+ */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
    opacity: 0;
}
#facebooklink {
    display: inline-block;
}
h1 {
    text-align: center;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    font-size:2em;
}
h3 {
    margin-top: 5em;
    text-align: center;
    font-size: 1.2em;
}
img {
    /*position: absolute;*/
    /*top: 2%;*/
}
#cameraButton {
    position: absolute;
    top: 45%;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
#syncButton {
    position: absolute;
    top: 60%;
    left: 40%;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
i {
    color: #D64842;
}

label {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
img.imgMode {
    height: 200px;
    margin-left: -10%;
}
h3.titleLeft {
    margin-left: -11%;
    font-size: 1.7em;
    text-decoration: none;
}
h3.titleRight {
    margin-left: 11%;
    font-size: 1.7em;
    text-decoration: none;
}
div.tutorial-video {
    display: none;
}
div.header {
    height: 15%;
    width: 100%;
    background-color: #D64842;
    box-shadow: 2px 2px 5px #888888
}
div.butlerOverview {
background-color: #bdc3c7;
margin-top: 20%;
margin-bottom: 25%;
border-radius: 10px;
padding: 3%;
}
div.loyalOverview {
    height: 20%;
    width: auto;
    background-color: white;
    padding: 3%;
}
span {
    float: left;
}

label{

padding: 3%;

}

.location{
    position: absolute;
    bottom:10px;
    left:3%;
    font-weight:600;
    color: #747474;
}
.location img{
    width:22px;
    margin-right:3px;
}

div.orderOverview {
    height: 150px;
    width: auto;
    background-color: white;
    margin-top: 5%;
    border: 1px solid #e09082;
    position: relative;
}
img.userAvatar {
    border-radius: 50%;
    width: 80px;
    position: absolute;
    top: 9%;
    left: 4%;
}
p.userName {
    position: absolute;
    top: 15%;
    left: 33%;
    font-weight: 600;
    font-size: 1.4em;
}
/*p.orderStatus {*/
    /*position: absolute;*/
    /*top: 30%;*/
    /*left: 35%;*/
    /*font-weight: bold;*/
    /*font-size: 1.3em;*/
    /*color: green;*/
/*}*/
img.qr-red {
    position: absolute;
    width: 75px;
    top: 23%;
    left: 70%;
}
span.infoStatus {
    position: absolute;
    text-align: center;
    color: grey;
    font-style: oblique;
    top: 90%;
    left: 45%;
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
}
.infoNotice button.btn.btn-success {
    position: absolute;
    font-size: 1.2em;
    top: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.qr-red {
    cursor: pointer;
}
.qrPopup {
    display: none;
}
.modal-content {
    width: 375px;
}
video#videoElement {
    width: 100%;
}
.modal {
    padding-right: 0;
}
.modal-dialog {
    width: auto;
}
.modal-content {
    width: 100%;
}

p.orderStatus{
  position: absolute;
  top: 32%;
    left: 33%;
  font-weight: bold;
  font-size: 1em;
  color: green;
}
p#butlerStatus{
position: absolute;
top: 30%;
left: 53%;
transform: translateX(-50%);
}
img.qr-red{
position: absolute;
width: 75px;
top: 25%;
left: 70%;
}
span.infoStatus{
  position: absolute;
  text-align: center;
  color: grey;
  font-style: oblique;
  /*top: 89%;*/
  top:91%;
  left: 51%;
  /*left: 45%;*/
  transform: translateX(-55%);
}
.infoNotice button.btn.btn-success {
    position: absolute;
    font-size: 1.4em;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #D64842;
    border-color: #D64842;
    border-radius: 20px;
    width: 50%;
}
p.p-emptystate{
  margin: 0 0 10px;
padding-top: 20%;
text-align: center;
}
img.svg-emptystate{
  height: 50px;
position: absolute;
left: 45%;
top: 40%;
transform: translateX(-50%);
}
.modal-content {
    display: inline-block;
}
#popupmodal {
    position: absolute;
    width:100%;
}
.modal-dialog{
    margin-top:80px;
}
.green {
    color: #2ecc71;
}
.orange {
    color: #e67e22;
}
.camera .modal-body {
    padding: 0;
}
.videoContainer {
    width: 100%;
    height: 400px;
    max-height: 356px;
    position: relative;
    overflow: hidden;
}
video#videoElement {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}
img.beerSpots {
    width: 50px;
}
.inlineBeerSpots img {
    float: left;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    width:55px;
    cursor: pointer;
    margin-right:10px;

}
img.fbAvatar.animated.bounceInLeft {
    position: absolute;
    top: 2%;
}
.inlineBeerSpots {
    margin-left: 33%;
    margin-top: 20%;
}
span.Overview.glyphicon.glyphicon-heart{
  margin-left: 0;
}
span.glyphicon.glyphicon-heart {
    color: #D64842;
    font-size: 2em;
    margin-left: 88%;
}
span.glyphicon.glyphicon-bell {
    font-size: 2em;
    color: #D64842;
}

span.glyphicon.glyphicon-gift{
    font-size: 2em;
    color: #D64842;
}

.modal-footer {
    text-align: center;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

i.glyphicon.glyphicon-record{
    text-align: center;
    top: -3px;
    color: #FFE500;

}


.chat{
    height: 50%;
    position: absolute;
    width: 92%;

}

.service{
    background-color: white;
    overflow: hidden;
    margin:20px 0;
    border: 1px solid #e09082;
    padding-bottom:20px;
    position: relative;
}

img.header-img{
  height: 100px;
position: absolute;
top: 0;
margin-top: 5%;
margin-left: 65%;
}
img.header-svg{
  height: 85px;
position: absolute;
top: 10px;
margin-top: 5%;
margin-left: 75%;
}

h1.headerTitle{
padding-top: 10%;
text-align: left;
padding-left: 20%;
color: #ecf0f1;
}

a {
    text-decoration: none;
    color: #D64842;

}
h4.modal-title {
    color: #D64842;
}
/* Transitions */

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        z-index: 999;
        position: relative;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 999;
        position: relative;
    }
    100% {
        opacity: 1;
        z-index: 999;
        position: relative;
    }
}
