* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:#efefef;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#wrapper{
  position: relative;
  height:40px;
  width: 200px;
  top: 45%;
  left: 15%;
}

.container-fluid{
    position: relative;
    height:667px;
    width: 375px;
    top: 0;
}

#SplashLogo{
position: absolute;
top: 20%;
left: 12%;
display: block;
width: 75%;
-webkit-animation: fadeOut 8s ; /* Safari 4+ */
  -moz-animation:    fadeOut 8s ; /* Fx 5+ */
  -o-animation:      fadeOut 8s ; /* Opera 12+ */
  animation:         fadeOut 8s ; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}
#SplashKV{
position: absolute;
top: 70%;
left: 45%;
display: block;
width: 15%;
-webkit-animation: fadeOut 8s ; /* Safari 4+ */
  -moz-animation:    fadeOut 8s ; /* Fx 5+ */
  -o-animation:      fadeOut 8s ; /* Opera 12+ */
  animation:         fadeOut 8s ; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}
div#facebookbutton{
  position: absolute;
  display: inline-block;
  pointer-events: none;
  margin: 0 auto;
  -webkit-animation: fadeIn 10s ; /* Safari 4+ */
  -moz-animation:    fadeIn 10s ; /* Fx 5+ */
  -o-animation:      fadeIn 10s ; /* Opera 12+ */
      animation:         fadeIn 10s ; /* IE 10+, Fx 29+ */
   animation-fill-mode: forwards;
    animation-delay: 8s;
opacity: 0;

}
#facebooklink{
display: inline-block;
}

h1{
text-align: center;
animation-delay: 0.3s;
}

h3{
  text-align: center;
  font-size: 1.2em;
}

img{
  position: absolute;
  top: 2%;
};
/* Transitions */

@-webkit-keyframes fadeOut {
  0%   { opacity: 0; }
  50% {
  opacity: 1; }
  100%{
  opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 0; }
  50% {
  opacity: 1; }
  100%{
  opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0%   { opacity: 0; }
  50% {
  opacity: 1; }
  100%{
  opacity: 0;
  }
}
@keyframes fadeOut {
  0%   { opacity: 0; }
  50% {
    opacity: 1;}
  100%{
  opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }

  100%{
  opacity: 1;
  position: relative;
  }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }

  100%{
  opacity: 1;
  position: relative;
  }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100%{
  opacity: 1;
  position: relative;
  }
}
@keyframes fadeIn {
  0%   { opacity: 0;
   }

  100%{
  opacity: 1;
  position:relative;
  }
}
